@font-face {
  font-family: myFont;
  src: url('font/Far.Afsoon.ttf');
}
@font-face {
  font-family: myfont1;
  src: url('font/SedgwickAveDisplay-Regular.ttf');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  background: radial-gradient(ellipse at left, #090909 0%,  #171717 100%) center  no-repeat;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-attachment: fixed;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.header h1 {
  float: left;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
}

nav ul {
  float: right;
  list-style-type: none;
  margin: 20px 0 0 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #333333;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px 0 0;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #333333;
}

.container h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}

.profile {
  width: 250px;
  float: left;
  position: absolute;
  left: 0;
  
}

.profile img {
  max-width: 100%;
  height: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #3a3a3a;
  border-color: rgb(175, 175, 175);
}

.profile p {
  position: absolute;
  top: 5px;
  right: 0px;
  padding: 10px;
  background-color: rgb(35, 35, 35);
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 10px;
  font-family: myFont, sans-serif;
}

.main img{ max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 3px 10px rgb(0 0 0);
} 
.profile button {
  position: absolute;
  top: 50px;
  background-color: #03201c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  font-family: myFont, sans-serif;
}

.profile button:hover {
  background-color: #06f3cb;
  color: #000;
  font-family: myFont, sans-serif;}

@media (max-width: 768px) {
  nav {
    float: none;
  }

  nav ul {
    text-align: center;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    display: block;
    margin: 10px 0;
  }
}
.main .p3{
  text-align: center;
  font-family: myfont,sans-serif;
  font-size: 36px;
  color: #ffffff;
}
#p1{
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
.main p{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  direction: rtl;
 

}
#myVideo{
  text-align: center;

}
.main .p4 {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
}
.change-background{
  background-image: linear-gradient(#0c6a5c, #028780);
  background-size: 100%;
  background-repeat: repeat;
  animation: mymove 2s ease-in-out infinite alternate;
  text-align: center;
  color: white;
  font-size: 30px;
  position: relative;
  font-family: myfont, sans-serif;
  border-radius: 10px;

}
@keyframes mymove {
  from {
    background-position-x: left;
    background-position-y: bottom;
    color: #fff;
  }
  to {
    background-position-x: right;
    background-position-y: top;
    color: #000;
  }
}

.image-container {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px;
  font-size: 30px;
  font-family: myfont,sans-serif;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.main .b1{
  animation-name: bax;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-image: linear-gradient(#6f717100, #2e2f2f00);
  border-radius: 10px;
  display: inline-block;
  text-align: right;
  font-size: 18px;
  color: #ffffff;
  
}
  @keyframes bax {
    0% {
      box-shadow: 1px 2px 10px rgb(65, 244, 193);
    }
    50% {
      box-shadow: 4px 8px 20px rgb(65, 208, 244);
    }
    100% {
      box-shadow: 8px 8px 30px rgb(25, 138, 225);
    }
}
.main .H1-13{
font-family: myfont1, sans-serif;
color: #fff;
font-weight: 200;
}

.main i{
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}